<!--    t.string   "title"
    t.text     "details"
    t.string   "pay_type"
    t.string   "work_unit"
    t.decimal  "pay_rate",   precision: 10, scale: 2
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "currency"
-->
<%= form_for @job do |j| %>
<div>
  <%= j.label :title %>
  <%= j.text_field :title %>
</div>
<div>
  <%= j.label :details %>
  <%= j.text_area :details %>
</div>
<div>
  <%= j.label :job_time %>
  <%= j.datetime_local_field :job_time %>
</div>
<div>
<fieldset>
  <legend>Currency</legend>
  <%= j.radio_button :currency, "dollars" %>
  <%= label :job, :currency, "dollars" %>
  <%= j.radio_button :currency, "A's" %>
  <%= label :job, :currency, "A's" %>
  <%= j.radio_button :currency, "pizzas" %>
  <%= label :job, :currency, "pizzas" %>
</div>
<div>
  <%= j.label :pay_rate %>
    <input type="number" name="job[pay_rate]" min="0" max="999999" step="0.01" size="4" 
    title="CDA Currency Format - no dollar sign and no comma(s) - cents (.##) are optional" />
</div>
<fieldset>
  <legend>Pay type</legend>
  <%= j.radio_button :pay_type, "hourly" %>
	<%= label :job, :pay_type, "hourly" %>
	<%= j.radio_button :pay_type, "daily" %>
	<%= label :job, :pay_type, "daily" %>
	<%= j.radio_button :pay_type, "weekly" %>
	<%= label :job, :pay_type, "weekly" %>
	<%= j.radio_button :pay_type, "per_unit" %>
	<%= label :job, :pay_type, "per unit" %>
	<%= j.radio_button :pay_type, "lump_sum" %>
	<%= label :job, :pay_type, "lump sum" %>
</fieldset>
	
<div>
  <%= j.label "Post flyers about this job around campus?" %>
  <%= j.check_box :flyering %>
</div>
<div>
  <%= submit_tag("Submit") %>
</div>
<% end %>